<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách các Môn học</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="content">
        <form action="/" method="post" class="formAdd">
            <div class="form-group">
                <label for="ma_sp" class="lbl">Mã sản phẩm:</label>
                <input class="input_FormAdd" type="number" id="ma_sp" name="ma_sp" required>
            </div>
            <div class="form-group">
                <label for="ten_sp" class="lbl">Tên sản phẩm:</label>
                <input class="input_FormAdd" type="text" id="ten_sp" name="ten_sp" required>
            </div>
            <div class="form-group">
                <label for="so_luong" class="lbl">Số lượng:</label>
                <input class="input_FormAdd" type="number" id="so_luong" name="so_luong" required>
            </div>
            <button class="buttonAdd" type="submit">Submit</button>
        </form>
        <form action="/delete" id="delete" method="post" enctype="multipart/form-data">
            <div class="title">
                <input type="submit" value="Delete" class="buttonDelete" />
                <h1>Danh sách sản phẩm</h1>
            </div>
            <table border="1">
                <tr>
                    <th>Ma SP</th>
                    <th>Ten SP</th>
                    <th>So Luong</th>
                    <th>Chon</th>
                </tr>
                <% for (let i=0; i < sanPhams.length; i++) { %>
                    <tr>
                        <td>
                            <%= sanPhams[i].ma_sp %>
                        </td>
                        <td>
                            <%= sanPhams[i].ten_sp %>
                        </td>
                        <td>
                            <%= sanPhams[i].so_luong %>
                        </td>
                        <td><input type="checkbox" name="<%=sanPhams[i].ma_sp%>" /></td>
                    </tr>
                    <% } %>
            </table>
        </form>
    </div>
</body>

</html>