<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách các Môn học</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div class="title-container">
        <div class="title">Danh sách các Môn học</div>
    </div>

    <table>
        <tr>
            <th>STT</th>
            <th>Tên môn học</th>
            <th>Loại môn học</th>
            <th>Học kỳ</th>
            <th>Khoa</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Cơ sở dữ liệu</td>
            <td>Cơ sở</td>
            <td>HK1-2020-2021</td>
            <td>K.CNTT</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cấu trúc dữ liệu</td>
            <td>Cơ sở</td>
            <td>HK1-2020-2021</td>
            <td>K.CNTT</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Công nghệ phần mềm</td>
            <td>Cơ sở ngành</td>
            <td>HK1-2020-2021</td>
            <td>K.CNTT</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Công nghệ mới</td>
            <td>Chuyên ngành</td>
            <td>HK1-2020-2021</td>
            <td>K.CNTT</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Đồ án môn học</td>
            <td>Chuyên ngành</td>
            <td>HK1-2020-2021</td>
            <td>K.CNTT</td>
        </tr>
    </table>

</body>
</html>
